@tailwind base;
@tailwind components;
@tailwind utilities;
/* text in form */

form.center {
    position: flex;
    text-align: center;
    margin-top: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* mainbanner design */

div.mainbanner {
    position: flex;
    margin-left: -20px;
    margin-top: -40px;
    margin-right: -20px;
    padding: 0px;
    background: linear-gradient(90deg, #AD91E7 0%, rgba(173, 145, 231, 0) 56.28%), linear-gradient(90deg, #AED9FF 55.24%, rgba(152, 198, 239, 0) 99.34%), #DFF2A7;
}


/* text in main banner */

h1.header {
    text-align: center;
    padding: 70px 0px;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: #FFFFFF;
}


/* smaller banner design */

div.smallbanner {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 219px;
    background: rgba(223, 242, 167, 0.39);
}


/* profile link */

h2.profile {
    float: left;
    margin-left: 465px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}


/* fuel quote form link */

h2.form {
    float: left;
    margin-left: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
}


/* fuel quote history link */

h2.history {
    float: right;
    margin-right: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
}


/* button text */

button.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}