/* text in form */

form.center {
    position: flex;
    text-align: center;
    margin-top: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





/* button text */

button.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* 
.NavButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    height: 100%;
  
    cursor: pointer;
  
}
  
.Label {
    font-size: 12px;
    text-transform: capitalize;
} */
