table.allofit {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/* .titles{
    padding: 12px 15px;
} */
.headings{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
.data, .titles{
    padding: 12px 15px;
    text-align: center;
}
